<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Tetris_0000</key>
      <dict>
        <key>frame</key>
        <string>{{185,79},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0001</key>
      <dict>
        <key>frame</key>
        <string>{{185,235},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0002</key>
      <dict>
        <key>frame</key>
        <string>{{185,196},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0003</key>
      <dict>
        <key>frame</key>
        <string>{{185,157},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0004</key>
      <dict>
        <key>frame</key>
        <string>{{185,118},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0005</key>
      <dict>
        <key>frame</key>
        <string>{{185,274},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0006</key>
      <dict>
        <key>frame</key>
        <string>{{185,40},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
      <key>Tetris_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{182,191}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,191.00}</string>
      </dict>
      <key>Tetris_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,194},{182,184}}</string>
        <key>offset</key>
        <string>{0.00,-3.50}</string>
        <key>sourceSize</key>
        <string>{182.00,191.00}</string>
      </dict>
      <key>Tetris_0009</key>
      <dict>
        <key>frame</key>
        <string>{{185,1},{37,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{37.00,37.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>Tetris.png</string>
      <key>realTextureFileName</key>
      <string>Tetris.png</string>
      <key>textureFileName</key>
      <string>Tetris.png</string>
      <key>size</key>
      <string>{284,394}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Blue</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Cube</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>Green</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>Orange</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>Pink</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>Purple</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>Red</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>Rotate</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01099</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>Yellow</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
    </dict>
  </dict>
</plist>